#textdomain wesnoth-path of exile
[scenario]
    id=04_climb

    name= _ "04_climb"
    map_data="{~add-ons/path_of_exile_addon/maps/theledge.map}"
	
	turns=40
	victory_when_enemies_defeated=yes
	
	{DEFAULT_SCHEDULE_DUSK}	
	
	[story]
        [part]
            story= _ ""
		[/part]
        [part]
            story= _ ""
		[/part]
        [part]
            story= _ ""
		[/part]
 	[/story]

    [item]
	image="scenery/summoning-center.png"
	visible_in_fog=yes
	x=6
	y=16
    [/item]

    [time]
	blue=-25
	green=-45
	id="underground"
	image="misc/time-schedules/schedule-underground.png"
	lawful_bonus=-25
#textdomain wesnoth-help
	name=_"Underground"
	red=-60
[/time]
[time_area]
	current_time=0
	x="41,42,43,44,45"
	y="0,0,0-1,0-1,0-2"
	[time]
		blue=0
		green=-15
		id="dawn"
		image="misc/time-schedules/default/schedule-dawn.png"
		lawful_bonus=0
		name=_"Dawn"
		red=-25
		sound="ambient/morning.ogg"
	[/time]
	[time]
		blue=0
		green=0
		id="morning"
		image="misc/time-schedules/default/schedule-morning.png"
		lawful_bonus=25
		name=_"Morning"
		red=0
	[/time]
	[time]
		blue=0
		green=0
		id="afternoon"
		image="misc/time-schedules/default/schedule-afternoon.png"
		lawful_bonus=25
		name=_"Afternoon"
		red=0
	[/time]
	[time]
		blue=-35
		green=-20
		id="dusk"
		image="misc/time-schedules/default/schedule-dusk.png"
		lawful_bonus=0
		name=_"Dusk"
		red=10
		sound="ambient/night.ogg"
	[/time]
	[time]
		blue=-13
		green=-45
		id="first_watch"
		image="misc/time-schedules/default/schedule-firstwatch.png"
		lawful_bonus=-25
		name=_"First Watch"
		red=-75
	[/time]
    [time]
		blue=-13
		green=-45
		id="second_watch"
		image="misc/time-schedules/default/schedule-secondwatch.png"
		lawful_bonus=-25
		name=_"Second Watch"
		red=-75
	[/time]
[/time_area]
	
    # wmllint: validate-on

    [side]
        side=1
        controller=human
#ifdef EASY
        recruit=
        gold=120
#else
        recruit=
        gold=200
#endif
        team_name=exile
        user_team_name= _ "exile"
        
        {FLAG_VARIANT loyalist}
        type=exile
        id=exile
        name= _ "exile"
        canrecruit=yes

        facing=se

        [ai]
            grouping=no
            passive_leader=yes
        [/ai]
    
	 # wmllint: validate-off
    [/side]

    [side]
        side=2
        controller=ai
        recruit=Walking Corpse
#ifdef EASY
        gold=100
#else
        gold=500
#endif
        team_name=monsters
        user_team_name= _ "monsters"
        
        {FLAG_VARIANT undead}
        # wmllint: recognize Arvith
        type=Revent
        id=Abrams
        name= _ "Abrams"
        profile="units/trolls/troll-hero.png"
        canrecruit=yes
        unrenamable=yes

        facing=nw
    [unit]
		facing="n"
		type="Walking Corpse"
		x=74
		y=10
	[/unit]
	[unit]
		facing="n"
		type="Walking Corpse"
		x=73
		y=10
	[/unit]
	[unit]
		facing="n"
		type="Walking Corpse"
		x=74
		y=9
	[/unit]
	[unit]
		facing="ne"
		type="Walking Corpse"
		x=76
		y=11
	[/unit]
	[unit]
		facing="nw"
		type="Walking Corpse"
		x=77
		y=11
	[/unit]
	[unit]
		facing="s"
		type="Walking Corpse"
		x=77
		y=12
	[/unit]
	[unit]
		facing="n"
		type="Walking Corpse"
		x=74
		y=12
	[/unit]
	[unit]
		facing="ne"
		type="Walking Corpse"
		x=73
		y=12
	[/unit]
	[unit]
		facing="se"
		type="Walking Corpse"
		x=72
		y=15
	[/unit]
	[unit]
		facing="n"
		type="Walking Corpse"
		x=71
		y=16
	[/unit]
	[unit]
		facing="nw"
		type="Walking Corpse"
		x=71
		y=17
	[/unit]
	[unit]
		facing="sw"
		type="Walking Corpse"
		x=72
		y=16
	[/unit]
	[unit]
		facing="n"
		type="Walking Corpse"
		x=60
		y=17
	[/unit]
	[unit]
		facing="n"
		type="Walking Corpse"
		x=59
		y=18
	[/unit]
	[unit]
		facing="se"
		type="Walking Corpse"
		x=59
		y=17
	[/unit]
	[unit]
		facing="sw"
		type="Walking Corpse"
		x=58
		y=17
	[/unit]
	[unit]
		facing="se"
		type="Walking Corpse"
		x=48
		y=20
	[/unit]
	[unit]
		facing="nw"
		type="Walking Corpse"
		x=49
		y=20
	[/unit]
	[unit]
		facing="sw"
		type="Walking Corpse"
		x=48
		y=19
	[/unit]
	[unit]
		facing="sw"
		type="Walking Corpse"
		x=47
		y=20
	[/unit]
	[unit]
		facing="nw"
		type="Walking Corpse"
		x=33
		y=21
	[/unit]
	[unit]
		facing="nw"
		type="Walking Corpse"
		x=34
		y=20
	[/unit]
	[unit]
		facing="nw"
		type="Walking Corpse"
		x=33
		y=20
	[/unit]
	[unit]
		facing="se"
		type="Walking Corpse"
		x=32
		y=20
	[/unit]
	[unit]
		facing="se"
		type="Walking Corpse"
		x=23
		y=19
	[/unit]
	[unit]
		facing="se"
		type="Walking Corpse"
		x=22
		y=19
	[/unit]
	[unit]
		facing="nw"
		type="Walking Corpse"
		x=23
		y=20
	[/unit]
	[unit]
		facing="nw"
		type="Walking Corpse"
		x=22
		y=20
	[/unit]
	[unit]
		facing="nw"
		type="Walking Corpse"
		x=11
		y=19
	[/unit]
	[unit]
		facing="n"
		type="Walking Corpse"
		x=11
		y=18
	[/unit]
	[unit]
		facing="n"
		type="Walking Corpse"
		x=12
		y=17
	[/unit]
	[unit]
		facing="n"
		type="Walking Corpse"
		x=12
		y=18
	[/unit]
	[unit]
		facing="s"
		type="Skeleton"
		x=12
		y=19
	[/unit]
	[unit]
		facing="n"
		type="Skeleton"
		x=21
		y=20
	[/unit]
	[unit]
		facing="sw"
		type="Skeleton"
		x=34
		y=21
	[/unit]
	[unit]
		facing="se"
		type="Skeleton"
		x=49
		y=21
	[/unit]
	[unit]
		facing="s"
		type="Skeleton"
		x=60
		y=18
	[/unit]
	[unit]
		facing="ne"
		type="Skeleton"
		x=73
		y=17
	[/unit]
	[unit]
		facing="s"
		type="Skeleton"
		x=72
		y=18
	[/unit]
	[unit]
		facing="n"
		type="Skeleton"
		x=73
		y=20
	[/unit]
	[unit]
		facing="ne"
		type="Skeleton"
		x=78
		y=10
	[/unit]
	[unit]
		facing="se"
		type="Skeleton"
		x=75
		y=9
	[/unit]
    [/side]
    
[/scenario]
